 label {
        margin-top: 5px;
      }
      .btn {
        width: 100%;
        margin-top: 10px;
      }

      #sonuc1, #sonuc2, #sonuc3, #sonuc4, #sonuc6 {
        color: red;
        font-weight: bold;
      }

      .jumbotron {
        color: black;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        border-radius: 0px;
      }

      .card, .card-header, .card-body, .btn, .form-control {
        border-radius: 0px;
      }
    .card-header {
      font-weight: bold;
      text-align: center;
    }

    .btn {
      font-weight: bold;
    }
      /* Add your styles here */

